.each_field {
  margin-bottom: 15px;
}
.each_field .gron_field_title {
  font-size: 15px;
  font-style: italic;
  width: 49%;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}
.each_field.gron_multiple_checkbox_fields .gron_field_title {
  width: 100%;
}
.gron_text_field .gron_field_title {
  line-height: 2;
}
.each_field .gron_field_title strong {
  font-weight: 600;
}
.each_field .field {
  display: inline-block;
  width: calc(45% - 30px);
}
.gron_checkbox_field .field {
  line-height: 2.1;
  font-size: 15px;
}
.gron_checkbox_field .field label {
  margin-right: 15px;
}
.each_field .field_desc {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.delivery_by_seller_field label .radio_text {
  position: relative;
  top: -2px;
}
#wcfm-main-contentainer .gron_text_field input[type="number"]#time-limit.wcfm-text {
  width: 91px;
  margin-bottom: 0;
}

.wcfm-tabWrap .gron_multiple_checkbox_fields input[type="checkbox"] {
  margin-right: 9px;
}
.gron_multiple_checkbox_fields .fields {
  padding-left: 20px;
  margin-top: 15px;
}
.gron_multiple_checkbox_fields .each_field label {
  cursor: pointer;
}
